<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>{{ page.title }}</title>
	
	<meta name="description" content="Doing the Dishes is the programming blog of Derek Morrison, a web developer currently working in Kuwait." />
	<meta name="keywords" content="doing the dishes, derek, morrison, derek morrison, kuwait, web developer" />
	
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/style-typekit.css" type="text/css" media="screen" />
	<!--[if IE]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" /><![endif]-->
	
	<style type="text/css">
		ol.footnotes li {list-style-type:decimal;}
		ol.footnotes{display:block;border-top:1px dashed #D1D1D1;font-size:0.8em; color:#4a4a4a;line-height:1.2em;}ol.footnotes a{color:#FC6247;border-bottom:none;font-family:Helvetica, sans-serif;}		
	</style>

	<!-- Syntax Highlighter styles -->
	<link href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
	
	<link rel="alternate" type="application/rss+xml" title="Doing the Dishes RSS Feed" href="http://feeds.feedburner.com/doingthedishes" />
	
	<!-- <link rel="apple-touch-icon" href="http://doingthedishes.com/apple-touch-icon.png" /> -->
	
	<!-- <script type="text/javascript" src="http://use.typekit.com/heg2vuz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
</head>

<body>

<div id="wrapper">

	<div id="header">
		<div id="logo">
			<a href="/" title="Return to the homepage" id="logo">
				<!-- <img src="/logo.png" alt="TBR Logo" width="300" height="150"/> -->
				<h1>Doing the Dishes</h1>
			</a>
			<h6>... a web developer's journal</h6>
		</div>
	</div>
	
	<div id="content">
		
		{{ content }}

		<!-- <div class="post">
			<h1>
				<a href="http://brooksreview.net/2011/03/smart-covers/" rel="bookmark" title="Permanent Link to Smart Cleaning">Smart Cleaning</a>
			</h1><small>Posted 13 mins ago</small>
			<div class="article">
				<p>
					I purchased a new smart cover with my iPad 2 and I have to say that I can’t see a need for any other case or cover. That’s coming from a huge case/bag junky. One thing that intrigued me with the Smart Cover when Apple launched it, is this bit of marketing speak:
				</p>
				<blockquote>
					<p>
						And since the microfiber lining gently buffs off any smudges or fingerprints as you move, iPad always looks good on arrival.
					</p>
				</blockquote>
				<p>
					Which I translated to: “Our cover is soft on the inside and touches your screen. Perhaps even removing some smudges.” Because otherwise how would it actually make a difference?
				</p>
				<p>
					The question becomes: does the Smart Cover actually clean your screen at all?
				</p>
				<p>
					Surprisingly I think the answer to that is yes, but not 100% of the screen.
				</p>
				<p>
					Since purchasing my iPad 2 I have not cleaned the screen in any way, and I have used it so much (especially at SXSW) that I have ended most days with less than 20% battery life.
				</p>
				<p>
					Here is a shot of the screen while I was at SXSW and first noticed the cleaning properties of the Smart Cover:
				</p>
				<p>
					<a href="http://brooksreview.s3.amazonaws.com/smart-clean-2.jpg"><img style="display:block; margin-left:auto; margin-right:auto;" src="http://brooksreview.s3.amazonaws.com/smart-clean-tmb-2.jpg" width="580" height="569"></a>
				</p>
				<p>
					Here is a shot I just took on my desk at work:
				</p>
				<p>
					<a href="http://brooksreview.s3.amazonaws.com/smart-clean-1.jpg"><img style="display:block; margin-left:auto; margin-right:auto;" src="http://brooksreview.s3.amazonaws.com/smart-clean-tmb-1.jpg" width="580" height="446"></a>
				</p>
				<p>
					What should be obvious from both pictures is that there are three distinct lines running the length of the screen that have never been cleaned. These three lines correspond with where the case folds and therefore where the case does not touch the screen. Admittedly I have been typing in landscape most of the time, so it is natural that this section of the screen is home to more fingerprints.
				</p>
				<p>
					What I find odd though is just how clean the top section is — I mean I have been using the iPad as normal. Further, you can see from the top line that there would/should be a lot more smudging at the top. I can only conclude that somehow the Smart Cover is helping keep my screen clean. My guess is that it is the motion of the cover rubbing against the screen while the iPad is in my bag that is doing this. I would also guess that a desk user wouldn’t see these type of results.
				</p>
				<p>
					Still though, the iPad 2 with Smart Cover does look much cleaner than my iPad 1 screen ever did — that makes me just a touch happier.
				</p>
			</div>
			<h6 class="linked">
				<a href="http://brooksreview.net/2011/03/smart-covers/">∞</a>
			</h6>
			<hr>
		</div> -->

		<div class="navigation">
			<div class="alignleft"><a href="/archive.html" >Archive</a></div>
			<div class="alignright"></div>
		</div>

	</div>
	
	<div id="sidebar">
		<div class="block text-3 widget_text">
			<h3>By Derek Morrison</h3>
			<div class="textwidget">
				<div class="txt">
					<!-- <a href="http://doingthedishes.com/archive/">Archives</a><br />
					<a href="http://doingthedishes.com/contact/">Contact</a><br />
					<a href="http://doingthedishes.com/colophon/">Colophon</a><br /> -->
					<a href="http://derek-morrison.com/">About Me</a><br />
					<a href="http://feeds.feedburner.com/doingthedishes/">RSS Feed</a><br />
					<a href="http://twitter.com/derekmorrison/">Follow on Twitter</a>
				</div>
			</div>
		</div>

		<!-- <div class="block search">
			<h3>
				Search
			</h3>
			<form method="get" id="searchform" action="#" name="searchform">
				<div>
					<table cellspacing="5">
						<tr>
							<td valign="center">
								<input type="text" value="" name="s" size="29" style="border: #999 1px solid;">
							</td>
							<td valign="bottom">
								<input type="submit" value="Go">
							</td>
						</tr>
					</table>
				</div>
			</form>
		</div> -->

	</div>

	<div id="footer">
		<p>&copy; Copyright <script>document.write(new Date().getFullYear());</script> Derek Morrison | Hosted by <a href="https://github.com/dmorrison/dmorrison.github.com">GitHub</a></p>
		<p></p>
	</div>

</div>

<!-- Syntax Highlighter scripts -->
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPowerShell.js" type="text/javascript"></script>
<script>
	SyntaxHighlighter.all();
</script>

<!-- Google Analytics -->
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-5071656-4']);
	_gaq.push(['_trackPageview']);

	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</body>

</html>